@page
@model StupidHome.Pages.ComingSoonModel
@{
  Layout = "Layouts/_BlankLayout";
  ViewData["Title"] = "Coming Soon";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-misc.dist.css">
}

@* ************** Content ************** *@

<!-- Coming Soon -->
<div class="container-xxl py-3">
  <div class="misc-wrapper">
    <h1 class="mb-2 mx-2">Tính năng này đang được cập nhật</h1>
    <p class="mb-5 mx-2">Nếu có bất kỳ ý kiến đóng góp, xin hãy để lại email!</p>
    <form onsubmit="return false">
      <div class="mb-0">
        <div class="input-group">
          <input type="email" class="form-control" placeholder="email" autofocus>
          <button type="submit" class="btn btn-primary">Vip pro</button>
        </div>
      </div>
    </form>
    <div class="mt-4">
      <img src="~/img/illustrations/girl-manage-task-light.png" alt="boy-with-rocket-light" width="500" class="img-fluid" data-app-light-img="illustrations/girl-manage-task-light.png" data-app-dark-img="illustrations/girl-manage-task-dark.png">
    </div>
  </div>
</div>
<!-- /Coming Soon -->
