@page
@model AspnetCoreStarter.Pages.Page2Model
@{



	ViewData["Title"] = "Page 2 - Starter Kit";

	ViewData["isMenu"] = true;
}

@* ************** Content ************** *@
<h4 class="py-3 breadcrumb-wrapper mb-4">Page 2</h4>

<p>Sample page.</p>
