@page
@model StupidHome.Pages.Home.AnalyticsModel
@{
  Layout = "Layouts/_ContentNavbarLayout";
  ViewData["Title"] = "Thống Kê - Home";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.dist.css">
<link rel="stylesheet" href="~/vendor/libs/spinkit/spinkit.dist.css" />
}

@section VendorScripts {
<script src="~/vendor/libs/apex-charts/apexcharts.dist.js"></script>
<script src="~/vendor/libs/block-ui/block-ui.dist.js"></script>
<script src="~/vendor/libs/chartjs/chartjs.dist.js"></script>
}

@section PageScripts {
<script src="~/js/cards-statistics.js"></script>
}


<h4 class="py-3 breadcrumb-wrapper mb-4"><small class="text-muted">Home /</small> Thống Kê</h4>

<div class="nav-align-top">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true">Báo Cáo Tổng Quan</button>
    </li>
    <li class="nav-item">
      <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-living-room" aria-controls="navs-top-living-room" aria-selected="false">Living Room</button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">
      <div class="row ">
        <div class="col-xl-12 col-12 mb-4">
          <div class="card">
            <div class="row row-bordered m-0">
              <div class="col-md-4 col-12 px-0">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="card-title mb-0">Tuần Này</h5>
                </div>
                <div class="card-body">
                  <p class="mb-4">Hãy xem thử báo cáo về mức độ tiêu thụ năng lượng của bạn xem phung phí thế nào nhé!</p>
                  <ul class="list-unstyled m-0 pt-0">
                    <li class="mb-4">
                      <div class="d-flex align-items-center mb-2">
                        <div class="avatar avatar-sm flex-shrink-0 me-2">
                          <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-trending-up"></i></span>
                        </div>
                        <div>
                          <p class="mb-0 lh-1 text-muted text-nowrap">So Với Tuần Trước</p>
                          <small class="fw-medium text-nowrap">84,789%</small>
                        </div>
                      </div>
                      <div class="progress" style="height:6px;">
                        <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center mb-2">
                        <div class="avatar avatar-sm flex-shrink-0 me-2">
                          <span class="avatar-initial rounded bg-label-success"><i class="bx bx-dollar"></i></span>
                        </div>
                        <div>
                          <p class="mb-0 lh-1 text-muted text-nowrap">Chi Phí Dự Đoán</p>
                          <small class="fw-medium text-nowrap">227,398 VNĐ</small>
                        </div>
                      </div>
                      <div class="progress" style="height:6px;">
                        <div class="progress-bar bg-success" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-8 col-12 px-0">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="card-title mb-0">Báo Cáo Tổng Quan So Với Tuần Trước</h5>
                  <div class="dropdown">
                    <button class="btn p-0" type="button" id="orderSummaryOptions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orderSummaryOptions">
                      <a class="dropdown-item" href="javascript:void(0);">Theo ngày</a>
                      <a class="dropdown-item" href="javascript:void(0);">Theo tuần</a>
                      <a class="dropdown-item" href="javascript:void(0);">Theo tháng</a>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div id="lineChart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!--/ <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center gap-3">
                  <div class="avatar">
                    <span class="avatar-initial rounded-circle bg-label-primary"><i class='bx bxs-institution fs-4'></i></span>
                  </div>
                  <div class="card-info">
                    <h5 class="card-title mb-0 me-2">380<small>kWh</small></h5>
                    <small class="text-muted">Đồ gia dụng</small>
                  </div>
                </div>
                <div id="conversationChart"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center gap-3">
                  <div class="avatar">
                    <span class="avatar-initial rounded-circle bg-label-warning"><i class='bx bx-clinic fs-4'></i></span>
                  </div>
                  <div class="card-info">
                    <h5 class="card-title mb-0 me-2">659<small>kWh</small></h5>
                    <small class="text-muted">Tiện ích</small>
                  </div>
                </div>
                <div id="incomeChart"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center gap-3">
                  <div class="avatar">
                    <span class="avatar-initial rounded-circle bg-label-success"><i class='bx bxs-devices fs-4'></i></span>
                  </div>
                  <div class="card-info">
                    <h5 class="card-title mb-0 me-2">452<small>kWh</small></h5>
                    <small class="text-muted">Đồ điện tử</small>
                  </div>
                </div>
                <div id="profitChart"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center gap-3">
                  <div class="avatar">
                    <span class="avatar-initial rounded-circle bg-label-danger"><i class='bx bx-layer-plus fs-4'></i></span>
                  </div>
                  <div class="card-info">
                    <h5 class="card-title mb-0 me-2">125kWh</h5>
                    <small class="text-muted">Khác</small>
                  </div>
                </div>
                <div id="expensesLineChart"></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!--/ Cards with few info -->
      <!-- Cards with badge -->
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-warning"><i class='bx bx-log-out-circle fs-3'></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">Nhiệt Độ Ngoài</span>
              <h2 class="mb-0 temp-out">-</h2>
              <span class="d-block mb-1 text-nowrap"><strong>°C</strong></span>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-info"><i class='bx bx-log-in-circle fs-3'></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">Nhiệt Độ Trong Nhà</span>
              <h2 class="mb-0 temp-in">-</h2>
              <span class="d-block mb-1 text-nowrap"><strong>°C</strong></span>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-danger"><i class='bx bx-water fs-3'></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">Độ Ẩm Không Khí</span>
              <h2 class="mb-0 humidity">-</h2>
              <span class="d-block mb-1 text-nowrap"><strong>%</strong></span>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-primary"><i class='bx bx-happy-beaming fs-3'></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">Độ Thoải Mái</span>
              <h2 class="mb-0">72</h2>
              <span class="d-block mb-1 text-nowrap"><strong>%</strong></span>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-success"><i class='bx bxs-tree fs-3'></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">Độ Ẩm Vườn</span>
              <h2 class="mb-0">65</h2>
              <span class="d-block mb-1 text-nowrap"><strong>%</strong></span>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-danger"><i class='bx bx-bulb bx-sm fs-3'></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">Độ sáng</span>
              <h2 class="mb-0">40</h2>
              <span class="d-block mb-1 text-nowrap"><strong>%</strong></span>
            </div>
          </div>
        </div>
      </div>
      <!--/ Cards with badge -->
      <!-- Cards with Charts -->
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <div class="card-header d-flex align-items-start justify-content-between">
              <div class="m-0 me-2">
                <h5 class="card-title mb-0">Nhiệt Độ Trung Bình</h5>
                <small class="text-muted">Nhiệt độ nhà trong tuần qua</small>
              </div>
              <div class="d-flex flex-row gap-2">
                <h5 class="mb-0">20°C</h5>
                <span class="badge bg-label-success">+2%</span>
              </div>
            </div>
            <div class="card-body">
              <div id="registrationsChart"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <div class="card-header d-flex align-items-start justify-content-between">
              <div class="m-0 me-2">
                <h5 class="card-title mb-0">Độ Ẩm Trung Bình</h5>
                <small class="text-muted">Độ ẩm nhà trong tuần qua</small>
              </div>
              <div class="d-flex flex-row gap-2">
                <h5 class="mb-0">65%</h5>
                <span class="badge bg-label-danger">-18%</span>
              </div>
            </div>
            <div class="card-body">
              <div id="expensesChart"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-0">
          <div class="card">
            <div class="card-header d-flex align-items-start justify-content-between">
              <div class="m-0 me-2">
                <h5 class="card-title mb-0">Hoạt Động Trong Nhà</h5>
                <small class="text-muted">Tương tác của người dùng</small>
              </div>
              <div class="d-flex flex-row gap-2">
                <h5 class="mb-0">615</h5>
                <span class="badge bg-label-success">+67%</span>
              </div>
            </div>
            <div class="card-body">
              <div id="usersChart"></div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Cards with Chart -->

      <!-- Cards with unicons & charts -->
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title mb-0">Ánh Sáng Tự Nhiên</h5>
            </div>
            <div class="card-body d-flex align-items-end justify-content-between">
              <div class="d-flex justify-content-between align-items-center gap-3 w-100">
                <div class="d-flex align-content-center">
                  <div class="chart-report" data-color="danger" data-series="12"></div>
                  <div class="chart-info ms-2">
                    <h5 class="mb-0">12%</h5>
                    <small class="text-muted">Last week</small>
                  </div>
                </div>
                <div class="d-flex align-content-center">
                  <div class="chart-report" data-color="info" data-series="64"></div>
                  <div class="chart-info ms-2">
                    <h5 class="mb-0">64%</h5>
                    <small class="text-muted">Now</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title mb-0">Độ Ẩm Tự Nhiên</h5>
            </div>
            <div class="card-body d-flex align-items-end justify-content-between">
              <div class="d-flex align-items-end justify-content-between align-items-center gap-3 w-100">
                <div class="d-flex align-content-center">
                  <div class="chart-report" data-color="primary" data-series="65"></div>
                  <div class="chart-info ms-2">
                    <h5 class="mb-0">65%</h5>
                    <small class="text-muted">Last week</small>
                  </div>
                </div>
                <div class="d-flex align-content-center">
                  <div class="chart-report" data-color="success" data-series="85"></div>
                  <div class="chart-info ms-2">
                    <h5 class="mb-0">85%</h5>
                    <small class="text-muted">Now</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="card-body row g-4">
              <div class="col-md-6 pe-md-4 card-separator">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <h5 class="mb-0">Ra Vào</h5>
                  <small>Tuần Trước</small>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="mt-auto">
                    <h2 class="mb-2">645</h2>
                    <small class="text-danger text-nowrap fw-medium"><i class='bx bx-down-arrow-alt'></i> -13.24%</small>
                  </div>
                  <div id="visitorsChart"></div>
                </div>
              </div>
              <div class="col-md-6 ps-md-4">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <h5 class="mb-0">Hoạt Động</h5>
                  <small>Tuần Trước</small>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="mt-auto">
                    <h2 class="mb-2">2345</h2>
                    <small class="text-success text-nowrap fw-medium"><i class='bx bx-up-arrow-alt'></i> 24.8%</small>
                  </div>
                  <div id="activityChart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card Border Shadow -->
      <div class="row g-4">
        <div class="col-sm-6 col-lg-3">
          <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2 pb-1">
                <div class="avatar me-2">
                  <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-devices"></i></span>
                </div>
                <h4 class="ms-1 mb-0">42</h4>
              </div>
              <p class="mb-1">Thiết Bị Được bật</p>
              <p class="mb-0">
                <span class="fw-medium me-1">+18.2%</span>
                <small class="text-muted">so với tuần trước</small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card card-border-shadow-warning h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2 pb-1">
                <div class="avatar me-2">
                  <span class="avatar-initial rounded bg-label-warning"><i class='bx bx-error'></i></span>
                </div>
                <h4 class="ms-1 mb-0">8</h4>
              </div>
              <p class="mb-1">Cảnh Báo Nguy Hiểm</p>
              <p class="mb-0">
                <span class="fw-medium me-1">-8.7%</span>
                <small class="text-muted">so với tuần trước</small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card card-border-shadow-danger h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2 pb-1">
                <div class="avatar me-2">
                  <span class="avatar-initial rounded bg-label-danger"><i class='bx bx-git-repo-forked'></i></span>
                </div>
                <h4 class="ms-1 mb-0">27</h4>
              </div>
              <p class="mb-1">Thiết Bị Cần Kiểm Tra</p>
              <p class="mb-0">
                <span class="fw-medium me-1">+4.3%</span>
                <small class="text-muted">so với tuần trước</small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card card-border-shadow-info h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2 pb-1">
                <div class="avatar me-2">
                  <span class="avatar-initial rounded bg-label-info"><i class='bx bx-time-five'></i></span>
                </div>
                <h4 class="ms-1 mb-0">0</h4>
              </div>
              <p class="mb-1">Sự Kiện Tuần Này</p>
              <p class="mb-0">
                <span class="fw-medium me-1">-0%</span>
                <small class="text-muted">so với tuần trước</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show" id="navs-top-living-room" role="tabpanel">
      <div class="alert alert-primary" role="alert">
        <h3 class="mb-4">Hiện tại </h3>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <div class="avatar avatar-md mx-auto mb-3">
                  <span class="avatar-initial rounded-circle bg-label-primary"><i class='bx bx-happy-beaming fs-3'></i></span>
                </div>
                <span class="d-block mb-1 text-nowrap">Độ Thoải Mái</span>
                <h2 class="mb-0">72</h2>
                <span class="d-block mb-1 text-nowrap"><strong>%</strong></span>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <div class="avatar avatar-md mx-auto mb-3">
                  <span class="avatar-initial rounded-circle bg-label-info"><i class='bx bx bxl-c-plus-plus fs-3'></i></span>
                </div>
                <span class="d-block mb-1 text-nowrap">Nhiệt Độ</span>
                <h2 class="mb-0 temp-in">-</h2>
                <span class="d-block mb-1 text-nowrap"><strong>°C</strong></span>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <div class="avatar avatar-md mx-auto mb-3">
                  <span class="avatar-initial rounded-circle bg-label-danger"><i class='bx bx-water fs-3'></i></span>
                </div>
                <span class="d-block mb-1 text-nowrap">Độ Ẩm Không Khí</span>
                <h2 class="mb-0 humidity">-</h2>
                <span class="d-block mb-1 text-nowrap"><strong>%</strong></span>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <div class="avatar avatar-md mx-auto mb-3">
                  <span class="avatar-initial rounded-circle bg-label-danger"><i class='bx bx-bulb bx-sm fs-3'></i></span>
                </div>
                <span class="d-block mb-1 text-nowrap">Độ sáng</span>
                <h2 class="mb-0">40</h2>
                <span class="d-block mb-1 text-nowrap"><strong>%</strong></span>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <div class="avatar avatar-md mx-auto mb-3">
                  <span class="avatar-initial rounded-circle bg-label-success"><i class='bx bxs-devices fs-3'></i></span>
                </div>
                <span class="d-block mb-1 text-nowrap">Thiết bị</span>
                <h2 class="mb-0">2</h2>
                <span class="d-block mb-1 text-nowrap"><strong>Đang bật</strong></span>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 mb-4">
            <div class="card">
              <div class="card-body pb-0">
                <span class="d-block fw-medium mb-2">Chuyển Động</span>
                <h3 class="card-title">2768</h3>
              </div>
              <div id="orderChart" class="mb-3"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <h3 class="mb-4">Tóm tắt</h3>
        <div class="row ">
          <div class="col-xl-12 col-12 mb-4">
            <div class="card mb-4">
              <div class="row row-bordered m-0">
                <div class="col-md-4 col-12 px-0">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Tuần Này</h5>
                  </div>
                  <div class="card-body">
                    <p class="mb-4">Hãy xem thử báo cáo về mức độ tiêu thụ năng lượng của bạn xem phung phí thế nào nhé!</p>
                    <ul class="list-unstyled m-0 pt-0">
                      <li class="mb-4">
                        <div class="d-flex align-items-center mb-2">
                          <div class="avatar avatar-sm flex-shrink-0 me-2">
                            <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-trending-up"></i></span>
                          </div>
                          <div>
                            <p class="mb-0 lh-1 text-muted text-nowrap">So Với Tuần Trước</p>
                            <small class="fw-medium text-nowrap">84,789%</small>
                          </div>
                        </div>
                        <div class="progress" style="height:6px;">
                          <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex align-items-center mb-2">
                          <div class="avatar avatar-sm flex-shrink-0 me-2">
                            <span class="avatar-initial rounded bg-label-success"><i class="bx bx-dollar"></i></span>
                          </div>
                          <div>
                            <p class="mb-0 lh-1 text-muted text-nowrap">Chi Phí Dự Đoán</p>
                            <small class="fw-medium text-nowrap">227,398 VNĐ</small>
                          </div>
                        </div>
                        <div class="progress" style="height:6px;">
                          <div class="progress-bar bg-success" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-8 col-12 px-0">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Báo Cáo Tổng Quan So Với Tuần Trước</h5>
                    <div class="dropdown">
                      <button class="btn p-0" type="button" id="orderSummaryOptions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orderSummaryOptions">
                        <a class="dropdown-item" href="javascript:void(0);">Theo ngày</a>
                        <a class="dropdown-item" href="javascript:void(0);">Theo tuần</a>
                        <a class="dropdown-item" href="javascript:void(0);">Theo tháng</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div id="lineChart"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header header-elements">
                <div>
                  <h5 class="card-title mb-0">Tóm tắt</h5>
                  <small class="text-muted">Bao gồm tất cả những thứ người dùng cần</small>
                </div>
              </div>
              <div class="card-body">
                <canvas id="lineChartJS" class="chartjs" data-height="500"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-info" role="alert">
        <h3 class="mb-4">Chi tiết</h3>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
            <div class="card">
              <div class="card-header d-flex align-items-start justify-content-between">
                <div class="m-0 me-2">
                  <h5 class="card-title mb-0">Nhiệt Độ Trung Bình</h5>
                  <small class="text-muted">Nhiệt độ nhà trong tuần qua</small>
                </div>
                <div class="d-flex flex-row gap-2">
                  <h5 class="mb-0">20°C</h5>
                  <span class="badge bg-label-success">+2%</span>
                </div>
              </div>
              <div class="card-body">
                <div id="registrationsChart"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
            <div class="card">
              <div class="card-header d-flex align-items-start justify-content-between">
                <div class="m-0 me-2">
                  <h5 class="card-title mb-0">Độ Ẩm Trung Bình</h5>
                  <small class="text-muted">Độ ẩm nhà trong tuần qua</small>
                </div>
                <div class="d-flex flex-row gap-2">
                  <h5 class="mb-0">65%</h5>
                  <span class="badge bg-label-danger">-18%</span>
                </div>
              </div>
              <div class="card-body">
                <div id="expensesChart"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-0">
            <div class="card">
              <div class="card-header d-flex align-items-start justify-content-between">
                <div class="m-0 me-2">
                  <h5 class="card-title mb-0">Hoạt Động Trong Nhà</h5>
                  <small class="text-muted">Tương tác của người dùng</small>
                </div>
                <div class="d-flex flex-row gap-2">
                  <h5 class="mb-0">615</h5>
                  <span class="badge bg-label-success">+67%</span>
                </div>
              </div>
              <div class="card-body">
                <div id="usersChart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
