@page
@model StupidHome.Pages.Home.DevicesModel
@{
  Layout = "Layouts/_ContentNavbarLayout";
  ViewData["Title"] = "Thiết Bị - Home";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
<link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
<link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
<link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.dist.css" />
<link rel="stylesheet" href="~/vendor/libs/jkanban/jkanban.dist.css" />
<link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
<link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css" />
<link rel="stylesheet" href="~/vendor/libs/quill/typography.dist.css" />
<link rel="stylesheet" href="~/vendor/libs/quill/katex.dist.css" />
<link rel="stylesheet" href="~/vendor/libs/quill/editor.dist.css" />
<link rel="stylesheet" href="~/vendor/libs/nouislider/nouislider.dist.css" />
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/app-kanban.dist.css" />
}

@section VendorScripts {
<script src="~/vendor/libs/moment/moment.dist.js"></script>
<script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
<script src="~/vendor/libs/apex-charts/apexcharts.dist.js"></script>
<script src="~/vendor/libs/flatpickr/flatpickr.dist.js"></script>
<script src="~/vendor/libs/select2/select2.dist.js"></script>
<script src="~/vendor/libs/jkanban/jkanban.dist.js"></script>
<script src="~/vendor/libs/quill/katex.dist.js"></script>
<script src="~/vendor/libs/quill/quill.dist.js"></script>
<script src="~/vendor/libs/nouislider/nouislider.dist.js"></script>
}

@section PageScripts {
<script src="~/js/app-kanban.dist.js"></script>
}

@* ************** Content ************** *@
<h4 class="py-3 breadcrumb-wrapper mb-4"><small class="text-muted">Home /</small> Thiết Bị</h4>
<div class="card mb-4">
  <div class="card-widget-separator-wrapper">
    <div class="card-body card-widget-separator">
      <div class="row gy-4 gy-sm-1">
        <div class="col-sm-6 col-lg-3">
          <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-3 pb-sm-0">
            <div>
              <h3 class="mb-2">70</h3>
              <p class="mb-0">Thiết Bị</p>
            </div>
            <div class="avatar me-sm-4">
              <span class="avatar-initial rounded bg-label-secondary">
                <i class="bx bxs-devices bx-sm"></i>
              </span>
            </div>
          </div>
          <hr class="d-none d-sm-block d-lg-none me-4">
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-3 pb-sm-0">
            <div>
              <h3 class="mb-2">3</h3>
              <p class="mb-0">Khu Vực</p>
            </div>
            <div class="avatar me-lg-4">
              <span class="avatar-initial rounded bg-label-secondary">
                <i class="bx bx-grid bx-sm"></i>
              </span>
            </div>
          </div>
          <hr class="d-none d-sm-block d-lg-none">
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-3">
            <div>
              <h3 class="mb-2">2</h3>
              <p class="mb-0">Kịch Bản</p>
            </div>
            <div class="avatar me-sm-4">
              <span class="avatar-initial rounded bg-label-secondary">
                <i class="bx bx-wallet bx-sm"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="d-flex justify-content-between align-items-start">
            <div>
              <h3 class="mb-2">32</h3>
              <p class="mb-0">Cảnh Báo</p>
            </div>
            <div class="avatar">
              <span class="avatar-initial rounded bg-label-secondary">
                <i class="bx bx-error-alt bx-sm"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


@* ************** Room ************** *@

<div class="app-kanban">

  <!-- Add new board -->
  <div class="row">
    <div class="col-12">
      <form class="kanban-add-new-board">
        <label class="kanban-add-board-btn" for="kanban-add-board-input">
          <i class="bx bx-plus me-1"></i>
          <span class="align-middle">Thêm Phòng</span>
        </label>
        <input type="text" class="form-control w-px-250 kanban-add-board-input mb-2 d-none" placeholder="Thêm phòng mới" id="kanban-add-board-input" required />
        <div class="mb-3 kanban-add-board-input d-none">
          <button class="btn btn-primary btn-sm me-2">Thêm</button>
          <button type="button" class="btn btn-label-secondary btn-sm kanban-add-board-cancel-btn">Hủy</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Kanban Wrapper -->
  <div class="kanban-wrapper"></div>

  <!-- Edit Task & Activities -->
  <div class="offcanvas offcanvas-end kanban-update-item-sidebar">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title">Chi Tiết</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="nav nav-tabs tabs-line">
        <li class="nav-item">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-update">
            <i class="bx bx-edit me-2"></i>
            <span class="align-middle">Điều Chỉnh</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-activity">
            <i class="bx bx-trending-up me-2"></i>
            <span class="align-middle">Hoạt Động</span>
          </button>
        </li>
      </ul>
      <div class="tab-content px-0 pb-0">
        <!-- Update item/tasks -->
        <div class="tab-pane fade show active" id="tab-update" role="tabpanel">
          <form>
            <div class="mb-3">
              <label class="form-label" for="title">Tên Thiết Bị</label>
              <input type="text" id="title" class="form-control" placeholder="Enter Title" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="due-date">Ngày Tạo</label>
              <input type="text" id="due-date" class="form-control" placeholder="Enter Due Date" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="label">Loại</label>
              <select class="select2 select2-label form-select" id="label">
                <option data-color="bg-label-success" value="-tv">TV</option>
                <option data-color="bg-label-warning" value="-book-content">
                  Tủ Lạnh
                </option>
                <option data-color="bg-label-info" value="-wind">Điều Hòa</option>
                <option data-color="bg-label-danger" value="-door-open">
                  Cửa Tự Động
                </option>
                <option data-color="bg-label-warning" value="-bulb">Thiết Bị Chiếu Sáng</option>
                <option data-color="bg-label-secondary" value="s-hot">
                  Bếp
                </option>
                <option data-color="bg-label-primary" value="-speaker">
                  Thiết Bị Âm Thanh
                </option>
              </select>
            </div>
            <span class="optional">
            </span>

            <div class="mb-3">
              <label class="form-label">Chú Thích</label>
              <div class="comment-editor border-bottom-0"></div>
              <div class="d-flex justify-content-end">
                <div class="comment-toolbar">
                  <span class="ql-formats me-0">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-link"></button>
                    <button class="ql-image"></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-wrap">
              <button type="button" class="btn btn-primary me-3" data-bs-dismiss="offcanvas">
                Cập Nhật
              </button>
              <button type="button" class="btn btn-label-danger" data-bs-dismiss="offcanvas">
                Hủy
              </button>
            </div>
          </form>
        </div>
        <!-- Activities -->
        <div class="tab-pane fade" id="tab-activity" role="tabpanel">
          <div class="media mb-4 d-flex align-items-start">
            <div class="avatar me-2 flex-shrink-0 mt-1">
              @* <span class="avatar-initial bg-label-success rounded-circle">HJ</span> *@
              <img src="~/img/avatars/ttg.png" alt="Avatar" class="rounded-circle"/>
            </div>
            <div class="media-body">
              <p class="mb-0">
                <span class="fw-medium">Tắt</span> bởi Nguyễn Anh Dũng.
              </p>
              <small class="text-muted">Hôm nay 11:00 AM</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
