<div class="modal fade" id="createApp" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-simple modal-upgrade-plan">
    <div class="modal-content p-3 p-md-5">
      <div class="modal-body p-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center">
          <h3 class="mb-2">Thêm Kịch Bản</h3>
          <p>Hãy tự tay thiết kế kịch bản hoàn hảo cho ngôi nhà của bạn.</p>
        </div>
        <div id="wizard-create-app" class="bs-stepper vertical mt-2 shadow-none">
          <div class="bs-stepper-header border-0 p-1">
            <div class="step" data-target="#details">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-circle"><i class="bx bx-file fs-5"></i></span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title text-uppercase">Thông tin</span>
                  <span class="bs-stepper-subtitle">Nhập Thông Tin</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#device">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-circle"><i class="bx bx-data fs-5"></i></span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title text-uppercase">Thiết bị</span>
                  <span class="bs-stepper-subtitle">Chọn Thiết Bị</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#sensor">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-circle"><i class="bx bx-box fs-5"></i></span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title text-uppercase">Cảm biến</span>
                  <span class="bs-stepper-subtitle">Chọn Cảm Biến</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#setting">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-circle"><i class="bx bx-credit-card fs-5"></i></span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title text-uppercase">Cấu hình</span>
                  <span class="bs-stepper-subtitle">Đặt Điều Kiện</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#submit">
              <button type="button" class="step-trigger" disabled>
                <span class="bs-stepper-circle"><i class="bx bx-check fs-5"></i></span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title text-uppercase">Hoàn tất</span>
                  <span class="bs-stepper-subtitle">Hoàn Tất</span>
                </span>
              </button>
            </div>
          </div>
          <div class="bs-stepper-content p-1">
            <form onSubmit="return false">
              <div id="details" class="content pt-3 pt-lg-0">
                <div class="mb-3">
                  <input type="text" class="form-control form-control-lg" id="rules-name" placeholder="Nhập tên kich bản" required >
                </div>
                <h5>Chọn phòng</h5>
                <ul class="p-0 m-0 room-loading" style="height: 200px; position: relative;">
                </ul>
                <div class="col-12 d-flex justify-content-between mt-4">
                  <button class="btn btn-label-secondary btn-prev" disabled> <i class="bx bx-left-arrow-alt bx-xs me-sm-1 me-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Quay lại</span>
                  </button>
                  <button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Tiếp</span> <i class="bx bx-right-arrow-alt bx-xs"></i></button>
                </div>
              </div>

              <div id="sensor" class="content pt-3 pt-lg-0">
                <h5>Bạn muốn lắng nghe cảm biến nào?</h5>
                <div class="mb-3">
                  <label for="selectpickerSelectDeselectSensor" class="form-label-sensor">Chọn / Bỏ chọn tất cả</label>
                  <select id="selectpickerSelectDeselectSensor" class="selectpickerSensor w-100" data-style="btn-default" multiple data-actions-box="true">
                  </select>
                </div>
                <div class="col-12 d-flex justify-content-between mt-4">
                  <button class="btn btn-label-secondary btn-prev"> <i class="bx bx-left-arrow-alt bx-xs me-sm-1 me-0"></i> <span class="align-middle d-sm-inline-block d-none">Quay lại</span> </button>
                  <button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Tiếp</span> <i class="bx bx-right-arrow-alt bx-xs"></i></button>
                </div>
              </div>

              <div id="device" class="content pt-3 pt-lg-0">
                <h5>Chọn thiết bị cần tương tác</h5>
                <div class="mb-3">
                  <label for="selectpickerSelectDeselect" class="form-label">Chọn / Bỏ chọn tất cả</label>
                  <select id="selectpickerSelectDeselect" class="selectpicker w-100" data-style="btn-default" multiple data-actions-box="true">
                  </select>
                </div>
                <div class="col-12 d-flex justify-content-between mt-4">
                  <button class="btn btn-label-secondary btn-prev"> <i class="bx bx-left-arrow-alt bx-xs me-sm-1 me-0"></i> <span class="align-middle d-sm-inline-block d-none">Quay lại</span> </button>
                  <button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Tiếp</span> <i class="bx bx-right-arrow-alt bx-xs"></i></button>
                </div>
              </div>

              <div id="setting" class="content">
                <label for="selectpickerSubtext" class="form-label">Loại điều kiện</label>
                <select id="selectpickerSubtext" class="selectpickerOrAnd w-100 mb-2" data-style="btn-default" data-show-subtext="true">
                  <option data-subtext="Cần 1 điều kiện để chạy" value="OR">Hoặc</option>
                  <option data-subtext="Cấn tất cả điều kiện để chạy" value="AND">Và</option>
                </select>
                <ul class="p-0 m-0 loading-sensor-and-or">
                </ul>
                <label for="selectpickerSubtext" class="form-label">Hành động</label>
                <ul class="p-0 m-0 loading-device-and-or">
                </ul>
                <div class="col-12 d-flex justify-content-between mt-4">
                  <button class="btn btn-label-secondary btn-prev"> <i class="bx bx-left-arrow-alt bx-xs me-sm-1 me-0"></i> <span class="align-middle d-sm-inline-block d-none">Quay lại</span> </button>
                  <button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Tiếp</span> <i class="bx bx-right-arrow-alt bx-xs"></i></button>
                </div>
              </div>

              <div id="submit" class="content text-center pt-3 pt-lg-0">
                <h5 class="mb-2 mt-3">Đã xong</h5>
                <p>Hãy chờ đợi điều kỳ diệu trong ngôi nhà của bạn.</p>
                <img src="~/img/illustrations/boy-deal-review-light.png" alt="Create App img" width="300" class="img-fluid" data-app-light-img="illustrations/boy-deal-review-light.png" data-app-dark-img="illustrations/boy-deal-review-dark.png">
                <div class="col-12 d-flex justify-content-between mt-4 pt-2">
                  <button class="btn btn-label-secondary btn-prev"> <i class="bx bx-left-arrow-alt bx-xs me-sm-1 me-0"></i> <span class="align-middle d-sm-inline-block d-none">Quay lại</span> </button>
                  <button class="btn btn-success btn-submit"> <span class="align-middle d-sm-inline-block d-none">Hoàn tất</span> <i class="bx bx-check bx-xs ms-sm-1 ms-0"></i> </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EditApp" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-simple modal-upgrade-plan">
    <div class="modal-content p-3 p-md-5">
      <div class="modal-body p-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center">
          <h3 class="mb-2">Chỉnh Sửa Kịch Bản</h3>
          <p>Sửa nhanh nhanh đi trời.</p>
        </div>
        <div id="setting" class="content">
          <div class="mb-3">
            <label for="smallInput" class="form-label">Tên hiển thị</label>
            <input id="smallInput" class="form-control rounded-pill name-edit" type="text" placeholder="Tên kịch bản" />
          </div>
          <label for="defaultSelect" class="form-label">Loại điều kiện</label>
          <select id="defaultSelect" class="form-select selectpickerOrAndEdit w-100 mb-2" data-style="btn-default" data-show-subtext="true">
            <option data-subtext="Cần 1 điều kiện để chạy" value="OR">Hoặc</option>
            <option data-subtext="Cấn tất cả điều kiện để chạy" value="AND">Và</option>
          </select>
          <ul class="p-0 m-0 loading-sensor-and-or-edit">
          </ul>
          <label for="selectpickerSubtext" class="form-label">Hành động</label>
          <ul class="p-0 m-0 loading-device-and-or-edit">
          </ul>
          <div class="col-12 d-flex justify-content-between mt-4">
            <button class="btn btn-success btn-submit submit-edit"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Hoàn tất</span> <i class="bx bx-check bx-xs ms-sm-1 ms-0"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
